doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='app/vendor/semantic/dist/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='app/css/user_account.css')
  body
    .ui.two.column.grid
      .column
        h3.user_info User Info
        .ui.special.cards
          .card.img_user
            .blurring.dimmable.image
              .ui.dimmer
                .content
                  .center
                    .ui.inverted.button change your photo
              if img_url
                img#image(src='app/img/nkar.jpg')
              else
                if user_gender == "Male"
                  img#image(src='app/img/male.jpg')
                else
                  img#image(src='app/img/female.jpg') 
            .content
              i.header
                | Name:
                span#user_name #{user_name}
              i.header 
                | Nikname:
                span#user_nikname #{user_nikname}
              i.header 
                | Age:
                span#user_age #{user_age}
              i.header 
                | Gender:
                span#user_gender #{user_gender}
      .column
        h3.chat_info Chat
        #area.chat_area
          input(type="submit",name="submit",id="histri_message")
          each message in messages
            .ui.horizontal.divider
              span.ui.medium.circular.image.span_img
                if message.img_url
                  img(src='app/'+message.img_url+' ')
                else 
                  if !message.img_url && message.gender =='Male'
                    img(src='app/img/male.jpg ')
                  else
                    img(src='app/img/female.jpg ')
            span #{message.message}
            br
            br
            span(name='#{message.gender}') #{message.sender}
            i.wait.icon.wait_clock
            u(style='color:red',name='#{message.sendTime}') #{message.sendTime.getFullYear() + ' - '} #{message.sendTime.getMonth()+1 + ' - '} #{message.sendTime.getDate()} #{message.sendTime.toLocaleTimeString()}
            hr
        #send_section
          button#submit_msg.ui.right.floated.button(type='submit', name='Send') Send
          textarea#messige(type='text', name='')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='app/vendor/semantic/dist/semantic.min.js')
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(type='text/javascript', src='app/js/script.js')
